.button {
  max-width: 80vw;
  box-shadow: 0 5px 13px 0 rgba(0, 233, 186, 0.56);
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
  border: 0;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #00e9ba;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.button:active {
  transform: translate(0, 2px);
}

.icon {
  width: 24px;
  height: 24px;
  margin: -4px -14px -10px 10px;
  object-fit: contain;
  float: right;
}
